.page__title {
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 578px) {
  .page__title {
    margin-bottom: 20px;
  }
}

.about {
  padding: 90px 0;
}

@media (max-width: 992px) {
  .about {
    padding-bottom: 45px;
  }
}

.about__cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media (max-width: 992px) {
  .about__cols {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 25px;
  }
}

@media (max-width: 578px) {
  .about__cols {
    text-align: center;
  }
}

.about__img img {
  display: block;
  height: auto;
  width: 100%;
}

.about__uptitle {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.about__title {
  text-transform: capitalize;
  margin-bottom: 30px;
  line-height: 160%;
}

@media (max-width: 578px) {
  .about__title {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.about__text {
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #000000;
}

.about__text_2 {
  margin-top: 35px;
}

@media (max-width: 578px) {
  .about__text_2 {
    margin-top: 20px;
  }
}

.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

@media (max-width: 992px) {
  .advantages__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
  }
}

@media (max-width: 578px) {
  .advantages__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 992px) {
  .advantages__item:last-child {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 992px) and (max-width: 578px) {
  .advantages__item {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
}

.advantages__title {
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 30px;
}

.advantages__text {
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #000000;
}

.special {
  margin-top: 90px;
}

@media (max-width: 992px) {
  .special {
    margin-top: 45px;
  }
}
