.page__title{
    margin-bottom: 50px;
    text-align: center;
    @media(max-width:578px){
        margin-bottom: 20px;
    }
}

.about{
    padding: 90px 0;
    @media(max-width:992px){
        padding-bottom: 45px;
    }
    &__cols{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        @media(max-width:992px){
            grid-template-columns: 1fr;
            gap: 25px;
        }
        @media(max-width:578px){
            text-align: center;
        }
    }
    &__img{
        aspect-ratio: 1;
        display: block;
        width: 100%;
    }
    &__uptitle{
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.05em;
        text-transform: lowercase;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 400;
    }

    &__title{
        text-transform: capitalize;
        margin-bottom: 30px;
        line-height: 160%;
        @media(max-width:578px){
            margin-bottom: 20px;
            font-size: 22px;
        }
    }
    &__text{
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.05em;
        color: #000000;
        &_2{
            margin-top: 35px;
            @media(max-width:578px){
                margin-top: 20px;
            }
        }
    }
}

// advantages
.advantages{
    &__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        @media(max-width:992px){
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            text-align: center;
        }
        @media(max-width:578px){
            grid-template-columns: 1fr;
        }
    }
    &__item{
        @media(max-width:992px){
            &:last-child{
                grid-column-start: 1;
                grid-column-end: 3;
            }
            @media(max-width:578px){
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
    }
    &__title{
        line-height: 160%;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        color: #000000;
        margin-bottom: 30px;
    }
    &__text{
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.05em;
        color: #000000;
    }
}



// special
.special{
    margin-top: 90px;
    @media(max-width:992px){
        margin-top: 45px;
    }
}