// vars

$dark: #292A33;
$yellow: #FDAE04;
$red: #DE1616;
$grey: #7F7F7F;

// hero

.hero{
    .container{
        position: relative;
    }
    &__img{
        height: 65vh;
        @media(max-width:992px){
            height: 35vh;
            width: auto;
            margin-bottom: 50px;
        }
    }
    .btn{
        border: 1px solid #000;
        transition: background .3s, color .3s;
        &:hover{
            background: #fff;
            color: #000;
        }
    }
    &__content{
        max-width: 540px;
        transform: translateX(-50vw);
        opacity: 0;
        transition: transform 1s, opacity .5s .5s;
    }
    .swiper-slide-active{
        .hero__content{
            opacity: 1;
            transform: translateX(0);
        }
    }
    &__cats{
        display: flex;
        gap: 5px;
        color: $grey;
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        @media(max-width:992px){
            justify-content: center;
        }
        &-item{
            &:not(:last-child){
                &::after{
                    content: ' -';
                }
            }
        }
    }
    &__title{
        text-transform: capitalize;
        font-weight: 400;
        margin-bottom: 20px;
        line-height: 130%;
        @media(max-width:578px){
            font-size: 24px;
        }
    }
    &__text{
        font-size: 22px;
        line-height: 160%;
        /* or 35px */
        
        letter-spacing: 0.1em;
        margin-bottom: 35px;
        @media(max-width:578px){
            font-size: 16px;
            line-height: 130%;
            margin-bottom: 20px;
        }
    }
}

// slider
.hero-swiper {
    width: 100%;
    height: 65vh;
    @media(max-width:992px){
        height: 93vh;
    }
  }

  .hero__swiper-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 68px;
    position: relative;
    @media(max-width:992px){
        flex-direction: column-reverse;
        text-align: center;
    }
  }

  .hero-swiper__pagination{
    position: absolute;
    left: -25px;
    @media(max-width:1276px){
      position: static;
      display: flex;
      gap: 10px;
      margin-top: 20px;
    }
    @media(max-width:992px){
        justify-content: center;
    }

    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        background: #Fff;
        border: 1px solid #000;
    }
    .swiper-pagination-bullet-active{
        background: #000000;
    }

  }

//   category

.category{
  padding: 90px 0;
  text-align: center;
  @media(max-width:992px){
    padding: 45px 0;
  }
  &__name{
    color: #000;
    padding: 20px 0;
  }
  &__swiper-slide{
    transition: box-shadow .3s;
    &:hover{
        box-shadow: 0px 6px 34px rgba(0, 0, 0, 0.15);
    }
  }
  img{
    width: 100%;
    height: auto;
  }
}

.category-swiper{
    margin: -30px;
    padding: 30px;
}

// aditional
.additional{
    .container{
        height: 100vh;
        background: url(../img/additional.png) center / cover no-repeat;
        position: relative;
        &::before{
            background-color: rgba(255,255,255,.3);
    content: "";
    display: block;
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
    opacity: 0;
    position: absolute;
    transform: rotate3d(1,1,0,100deg);
    transition: all 0.7s ease 0s;
    border-radius: 5px;
        }
        &:hover::before{
            transform: rotate3d(0,0,0,0deg);
            opacity: 1;
        }
    }
    &__title{
        color: #fff;
        text-align: right;
        position: absolute;
        top: 40px;
        right: 40px;
        max-width: 232px;
        line-height: 160%;
    }
    &__btn{
        position: absolute;
        bottom: 40px;
        right: 40px;
        transition: background .3s, color .3s;
        &:hover{
            background: #000;
            color: #fff;
        }
    }
}

// banner
.banner{
    padding: 90px 0;
    @media(max-width:992px){
      padding: 45px 0;
    }
    .container{
        display: flex;
        gap: 40px;
        @media(max-width:578px){
            flex-direction: column;
        }
    }
    &__part{
        position: relative;
        aspect-ratio: 1;
        width: 50%;
        &::before{
            background-color: rgba(255,255,255,.3);
    content: "";
    display: block;
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
    opacity: 0;
    position: absolute;
    transform: rotate3d(1,1,0,100deg);
    transition: all 0.7s ease 0s;
    border-radius: 5px;
        }
        &:hover::before{
            transform: rotate3d(0,0,0,0deg);
            opacity: 1;
        }
        @media(max-width:768px){
            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba($color: #fff, $alpha: .35);
            }
        }
        @media(max-width:578px){
            width: 100%;
        }
    }
    &__title{
        position: absolute;
        top: 40px;
        max-width: 240px;
        z-index: 3;
    }
    .btn{
        background: transparent;
        position: absolute;
        bottom: 40px;
        z-index: 3;
        transition: background .3s, color .3s;
        &:hover{
            background: #fff;
            color: #000;
        }
    }

    &__left{
        .banner__title{
            left: 40px;
        }
        span{
            font-size: 18px;
            font-weight: 300;
            line-height: 160%;
            letter-spacing: 0.05em;
            font-family: 'Josefin Sans', sans-serif;
        }
        .btn{
            border: 1px solid #000;
            color: #000;
            left: 40px;
        }
    }
    &__right{
        .banner__title{
            right: 40px;
            text-align: right;
            color: #fff;
        }
        .btn{
            border: 1px solid #fff;
            color: #fff;
            right: 40px;
        }
    }
}

// fits
.fits{
    padding: 90px 0;
    @media(max-width:992px){
      padding: 45px 0;
    }
    &__inner{
        border: 1px solid #000;
        display: flex;
        position: relative;
        @media(max-width:992px){
           position: relative;
           height: 224px;
        }
        &::before{
            background-color: rgba(255,255,255,.3);
    content: "";
    display: block;
    bottom: 10px;
    width: calc(100% - 310px);
    right: 10px;
    top: 10px;
    opacity: 0;
    position: absolute;
    transform: rotate3d(1,1,0,100deg);
    transition: all 0.7s ease 0s;
    border-radius: 5px;
        }
        &:hover::before{
            transform: rotate3d(0,0,0,0deg);
            opacity: 1;
        }
    }
    &__content{
        border-right: 1px solid #000 ;
        padding: 40px;
        flex: 0 0 300px;
        @media(max-width:992px){
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba($color: #fff, $alpha: .45);
            text-align: right;
            border: none;
        }
        @media(max-width:578px){
        text-align: center;
        }
    }
    &__img{
        display: block;
        width: 100%;
        @media(max-width:992px){
            width: 100vw;
            height: 100%;
        }
    }
    &__text{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 32px;
    }
    &__btn{
        border: 1px solid #000;
        transition: background .3s, color .3s;
        &:hover{
            background: #000;
            color: #fff;
        }
    }
}

// special

.special{
    padding-bottom: 90px;
    @media(max-width:992px){
        padding-bottom: 45px;
    }
    &__text{
        font-size: 18px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 20px;
    }
    .wpcf7-spinner{
        position: absolute;
        right: 155px;
        top: 50%;
        transform: translateY(-50%);
    }
    .wpcf7-form-control-wrap{
        display: block;
        flex: 1 1 100%;
        position: relative;
        input{
            width: 100%;
            transition: border .3s;    
            padding-left: 10px;      
            border: 1px solid #FFF;  
            &:focus-visible{
                border: 1px solid #000;
                outline: none;
                background: #fff;
            }
            &:focus-visible + .wpcf7-not-valid-tip{
                display: none;
            }
        }
    }
    .wpcf7-not-valid-tip{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
    }

    .wpcf7-response-output{
        text-align: center;
        border: none !important;
        font-size: 16px;
        position: relative;
        padding: 0 !important; 
        margin: 20px auto 0 auto !important;
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background: $red;
            bottom: -10px;
        }
    }

        &__form{
            &-inner{
                max-width: 560px;
                display: flex;
                margin: 0 auto;
                border: 1px solid #000;
                position: relative;
                @media(max-width:425px){
                   flex-direction: column;
                }
            }
        &-input{
            padding: 14px 0;
            border: none;
        }
        &-input_submit{
            flex: 0 0 173px;
            background: #000;
            border: 1px solid #000;
            border-left: 2px solid #000;
            color: #fff;
            font-family: inherit;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-weight: 300;
            transition: background .3s, color .3s;
            @media(max-width:425px){
                flex: 1 1 100%;
            }
            &:hover{
                background: #fff;
                color: #000;
            }
        }
    }
}

// news
.news{
    &__img{
        width: 100%;
        margin-top: -20px;
    }
    position: relative;
    &__date{
        position: absolute;
        transform: rotate(-90deg);
        top: 115px;
        left: -55px;
        z-index: 3;
    }
    &__name{
        color: #000;
        font-weight: 600;
font-size: 18px;
line-height: 160%;
letter-spacing: 0.1em;
text-align: center;
max-width: 217px;
margin: 0 auto 10px;
position: relative;
z-index: 3;
    }
    &__text{
        font-size: 16px;
line-height: 160%;
/* or 26px */

letter-spacing: 0.05em;
text-transform: capitalize;
position: relative;
z-index: 3;
color: #000000;
    }
    &__more{
        position: relative;
        z-index: 3;
        font-weight: 500;
font-size: 14px;
text-decoration-line: underline;
text-transform: capitalize;
display: flex;
justify-content: flex-end;
color: #000000;
&:hover{
    text-decoration: none;
}
    }
}

.news-swiper{
    margin: -30px;
    padding: 30px;

}

.news__swiper-slide{
    box-shadow: 0px 6px 34px rgba(0, 0, 0, 0.15);
    padding: 20px;
    min-height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 10px;
        left: 10px;
        background: rgba(255,255,255,.45);
        opacity: 0;
        transform: rotate3d(1,1,0,100deg);
        transition: all 0.7s ease 0s;
        border-radius: 5px;
        }
            &:hover::before{
                transform: rotate3d(0,0,0,0deg);
                opacity: 1;
            }
}

// deal
.deal{
    padding-top: 90px;
    @media(max-width:992px){
        padding-top: 45px;
    }
    &__img{
        width: 260px;
    }
    &__content{
        border-width: 1px 1px 1px 0px;
border-style: solid;
border-color: $grey;
padding: 25px;
@media(max-width:578px){
    border-width: 1px 1px 1px 1px;
    margin-top: 25px;
}
    }
    &__name{
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
    }
    &__stars{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    &__price{
        font-weight: 300;
font-size: 22px;
letter-spacing: 0.05em;
color: #000000;
text-align: center;
padding-bottom: 15px;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__text{
        margin-top: 10px;
        letter-spacing: 0.05em;
    }
    &__cols{
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    &__btn{
        background: #000;
        color: #fff;
        border: none;
        padding: 8px 14px;
        font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */

letter-spacing: 0.1em;
text-transform: capitalize;
font-family: inherit;
margin-right: auto;
border: 1px solid #000;
transition: background .3s, color .3s;
&:hover{
    background: #fff;
    color: #000;
}
    }
    &__heart,
    &__seen{
        border: none;
        background: none;
    }
    &__heart{
        margin-right: 20px;
    }
}

.deal__swiper-slide{
    display: flex;
    align-items: center;
    background: #fff;
    @media(max-width:578px){
        flex-direction: column;
    }
}

