// vars

$dark: #292A33;
$yellow: #FDAE04;
$red: #DE1616;
$grey: #7F7F7F;


.post{
    padding-top: 90px;
    padding-bottom: 90px;
    @media(max-width:768px){
        padding-bottom: 10px;
    }
    @media(max-width:578px){
       text-align: center;
    }
    &__title{
        text-align: center;
        margin-bottom: 50px;
        @media(max-width:768px){
            margin-bottom: 20px;
        }
    }
    &__img{
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    &__info{
        color: $grey;
        font-weight: 500;
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 30px;
        @media(max-width:578px){
            justify-content: center;
            margin-bottom: 15px;
         }
        &-date{
            display: flex;
            &::before{
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                margin-right: 5px;
                background: url(../img/date.svg) center / cover no-repeat;
            }
        }
        &-category{
            display: flex;
            &::before{
                content: '';
                display: block;
                width: 10px;
                height: 12px;
                margin-right: 5px;
                background: url(../img/cat.svg) center / cover no-repeat;
            }
        }
    }
    &__content{
        margin-top: 30px;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.05em;
        color: #000000;
        @media(max-width:578px){
            margin-top: 15px;
         }
    }
}

.sidebar__container{
    display: grid;
    grid-template-columns: auto 260px;
    gap: 40px;
    @media(max-width:768px){
        grid-template-columns: 1fr;
    }
}

// latest
.latest{
    padding-top: 90px;
    @media(max-width:992px){
        padding-top: 45px;
    }
    &__img{
        width: 260px;
    }
    &__swiper-slide {
        a {
            display: block;
            width: 200px;

            img {
                display: block;
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
        }
    }
    &__content{
        padding: 25px;
        @media(max-width:578px){
            margin-top: 25px;
        }
    }
    &__name{
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
    }
    &__stars{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    &__price{
        font-weight: 300;
        font-size: 22px;
        letter-spacing: 0.05em;
        color: #000000;
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__text{
        margin-top: 10px;
        letter-spacing: 0.05em;
    }
    &__cols{
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    &__btn{
        background: #000;
        color: #fff;
        border: none;
        padding: 8px 14px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height, or 100% */

        letter-spacing: 0.1em;
        text-transform: capitalize;
        font-family: inherit;
        margin-right: auto;
        border: 1px solid #000;
        transition: background .3s, color .3s;
        &:hover{
            background: #fff;
            color: #000;
        }
    }
    &__heart,
    &__seen{
        border: none;
        background: none;
    }
    &__heart{
        margin-right: 20px;
    }
}

.latest__swiper-slide{
    display: flex;
    align-items: center;
    background: #fff;
    @media(max-width:578px){
        flex-direction: column;
    }
}