.woo-main {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;

    .woocommerce-breadcrumb,
    .woocommerce-notices-wrapper {
        display: none;
    }

    .woocommerce-products-header {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .products {
        order: 5;
        width: calc(100% - 300px);
        margin-bottom: 40px;

        &.related {
            width: 100%;
            margin-top: 40px;
            
            $c-gap: 40px;
            ul {
                width: 100%;
                display: flex;
                column-gap: $c-gap;

                li {
                    width: calc(25% - (($c-gap * 3) / 4));
                }
            }
        }
    }

    .type-product {
        width: calc(100% - 300px);
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;

        .woocommerce-product-gallery {
            width: calc(50% - 20px);
        }

        .entry-summary {
            width: calc(50% - 20px);
        }
    }

    .woocommerce-tabs {
        width: 100%;
        margin-top: 40px;

        ul {
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            text-transform: uppercase;
        }

        .woocommerce-Tabs-panel {
            padding-top: 15px;
        }
    }

    .woocommerce-product-gallery {

        a {
            display: block;
        }

        img {
            display: block;
            height: auto;
            width: 100%;
            border-radius: 5px;
        }

        ol{
            display: flex;
            column-gap: 10px;
            padding-top: 10px;
            list-style: none;
            padding-left: 0;
            margin: 0;
        }

        &__image {
            height: 410px;

            a {
                height: 100%;
            }

            img {
                height: auto;
            }
        }
    }

    .entry-summary {
        
        h1 {
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
            text-transform: capitalize;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .price {
            margin-bottom: 8px;
            font-weight: 300;
            font-size: 22px;
            line-height: 1;
            letter-spacing: 0.05em;
        }

        .woocommerce-product-details__short-description {
            margin: 15px 0;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .in-stock {
            margin-bottom: 15px;
            font-weight: 300;
            font-size: 22px;
            line-height: 1;
            letter-spacing: 0.05em;
            color: #DE1616;
        }

        .cart {
            padding: 15px 0;
            margin-bottom: 15px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            column-gap: 10px;

            .quantity {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            input {
                width: 45px;
                height: 30px;
                border: 1px solid rgba(0, 0, 0, 0.3);
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 18px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                text-align: center;
                color: #000000;
            }
        }

        .single_add_to_cart_button {
            padding: 7px 14px;
            background: #292A33;
            border: 1px solid #292A33;
            font-weight: 400;
            font-size: 14px;
            line-height: 1;
            letter-spacing: 0.1em;
            text-transform: capitalize;
            color: #FFFFFF;
            transition: background .3s, color .3s;

            &:hover {
                background: #fff;
                color: #292A33;
            }
        }

        .screen-reader-text {
            position: relative !important;
            width: fit-content;
            height: fit-content;
            clip-path: unset;
            clip: unset;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: 0.05em;
            color: #000000;
        }

        .product_meta {

            & > span {
                display: block;
                font-weight: 400;
                font-size: 18px;
                line-height: 1;
                letter-spacing: 0.05em;
                color: #000000;

                span,
                a {
                    font-weight: 300;
                    color: inherit;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .woocommerce-result-count {
        font-family: 'Josefin Sans';
        font-weight: 300;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
    }

    .orderby {
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 10px;
        font-family: 'Josefin Sans';
        font-weight: 300;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: capitalize;

        color: #000000;
    }

    .woocommerce-pagination {
        width: 100%;
        order: 6;

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            column-gap: 10px;

            li {

                span, a {
                    display: block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    color: #292A33;
                }

                .current {
                    background: #292A33;
                    color: #fff;
                }
            }
        }
    }

    .special {
        width: 100%;
        order: 7;
    }

    .sidebar {
        width: 260px;
    }
}

.woocommerce-shop {
    .type-product {
        justify-content: center;

        h2 {
            width: 100%;
        }
    }
}

.products {
    $gap: 40px;

    &.columns-3 {
        display: flex;
        flex-wrap: wrap;
        gap: $gap;

        .product {
            width: calc(33.333% - (($gap * 2) / 3));
        }
    }

    .woocommerce-options {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .woocommerce-notices-wrapper {
            display: none;
        }
    }

    .product {
        position: relative;
        transition: box-shadow .5s;
        padding-bottom: 10px;
        text-align: center;

        &:hover {
            box-shadow: 0px 6px 34px rgba(0, 0, 0, 0.15);
        }

        a {
            display: block;
        }

        .onsale {
            display: block;
            padding: 5px;
            background: #fff;
            color: #f00;
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 5;
        }

        img {
            display: block;
            height: auto;
            width: 100%;
        }

        h2 {
            min-height: 44px;
            margin: 10px 0;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #000000;
        }

        .price {
            font-family: 'Josefin Sans';
            font-weight: 300;
            font-size: 22px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #000000;
        }

        .add_to_cart_button {
            position: absolute;
            top: 60.5%;
            right: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 30px;
            width: 30px;
            padding: 5px;
            font-size: 0;
            overflow-x: hidden;
            background: #fff;
            white-space: nowrap;
            color: #292A33;
            transition: all .3s;

            &::after {
                content: '';
                display: block;
                // font-size: 20px;
                height: 20px;
                width: 20px;
                background: url('/wp-content/themes/bruden/assets/img/cart.svg') center / contain no-repeat;
            }

            &:hover {
                background: #292A33;
                padding-left: 14px;
                font-size: 14px;
                color: #fff;
                width: 163px;
            }

            &:hover::after {
                filter: brightness(10);
            }
        }

        .yith-wcwl-add-to-wishlist,
        .yith-wcwl-wishlistaddedbrowse {
            top: 15px;
            left: unset;
            right: 15px;

            a {
                display: block;
                height: 30px;
                width: 30px;
                padding: 6px;
                background: #fff;
            }

            .yith-wcwl-icon {
                font-size: 18px;
                color: #000;
            }
        }
    }
}

.woocommerce-page {

    table.wishlist_table {
        width: 100%;
    }

    .wishlist_table tr th {
        width: calc(100% / 6);
    }

    .wishlist_table tr td {
        font-family: 'Cormorant';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        color: #000000;
    }

    .wishlist_table tr td a {
        color: inherit;
    }

    .wishlist_table tr td.product-remove a {
        font-size: 32px;
        color: #f00;
    }

    .wishlist_table tr td.product-thumbnail a {
        max-width: 100%;
    }

    .wishlist_table tr td.product-thumbnail a img {
        height: auto;
    }
}