.woo-main {
    padding-top: 100px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;

    .woocommerce-breadcrumb,
    .woocommerce-notices-wrapper {
        display: none;
    }

    .woocommerce-products-header {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        @media(max-width:992px) {
            margin-bottom: 20px;
        }
    }

    .products {
        order: 5;
        width: calc(100% - 300px);
        margin-bottom: 40px;
        @media(max-width:992px) {
            width: 100%;
        }

        &.related {
            width: 100%;
            margin-top: 40px;
            @media(max-width:992px) {
                margin-top: 20px;
            }
            
            & > h2 {
                margin-bottom: 30px;
            }

            $c-gap: 40px;
            ul {
                width: 100%;
                display: flex;
                column-gap: $c-gap;
                @media(max-width:992px) {
                    flex-wrap: wrap;
                }

                li {
                    width: calc(25% - (($c-gap * 3) / 4));
                    justify-content: center;
                    @media(max-width:992px) {
                        width: 100%;
                    }

                    h2 {
                        width: 100%;
                    }
                }
            }

            .add_to_cart_button {
                top: 51.5%;
                right: 10px;
                @media(max-width:992px) {
                    top: 70%;
                }
            }
        }
    }

    .type-product {
        width: calc(100% - 300px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media(max-width:992px) {
            width: 100%;
        }

        h2 {
            width: 100%;
        }

        .woocommerce-product-gallery {
            width: 50%;
            padding-right: 30px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            @media(max-width:992px) {
                width: 100%;
                padding-right: 0;
                border: none;
            }
        }

        .entry-summary {
            width: 50%;
            padding-left: 30px;
            @media(max-width:992px) {
                width: 100%;
                padding-left: 0;
                margin-top: 20px;
            }
        }
    }

    .woocommerce-tabs {
        width: 100%;
        padding: 15px;
        margin-top: 40px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        & > ul {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            text-transform: uppercase;
            font-size: 15px;
            display: flex;
            @media(max-width:992px) {
                font-size: 13px;
            }
            
            li {
                padding: 0 10px 15px;
                position: relative;
                top: 1px;

                a {
                    color: #000000;
                }

                &.active {
                    border-bottom: 1px solid #5c6ac4;

                    a {
                        color: #5c6ac4;
                    }
                }
            }
        }

        .woocommerce-Tabs-panel {
            padding-top: 15px;
            ul{
                padding-left: 35px;
                list-style: circle;
            }
        }

        h2 {
            margin-bottom: 15px;
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
        }

        .woocommerce-product-attributes {
            width: 100%;

            th {
                width: 15%;
                padding: 8px;
                text-align: left;
                font-weight: 300;
            }

            td {
                width: 85%;
                padding: 8px;
            }
        }
    }

    .woocommerce-product-gallery {

        a {
            display: block;
        }

        img {
            display: block;
            height: auto;
            width: 100%;
            border-radius: 5px;
        }

        ol{
            display: flex;
            column-gap: 10px;
            padding-top: 10px;
            list-style: none;
            padding-left: 0;
            margin: 0;
        }

        &__image {
            height: 410px;

            a {
                height: 100%;
            }

            img {
                height: auto;
            }
        }
    }

    .entry-summary {
        
        h1 {
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
            text-transform: capitalize;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .price {
            margin-bottom: 8px;
            font-weight: 300;
            font-size: 22px;
            line-height: 1;
            letter-spacing: 0.05em;
        }

        .woocommerce-product-details__short-description {
            margin: 15px 0;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            ul{
                padding-left: 35px;
                list-style: circle;
            }
        }

        .in-stock {
            margin-bottom: 15px;
            font-weight: 300;
            font-size: 22px;
            line-height: 1;
            letter-spacing: 0.05em;
            color: #000;
        }

        .cart {
            padding: 15px 0;
            margin-bottom: 15px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            column-gap: 10px;

            .quantity {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            input {
                width: 45px;
                height: 30px;
                border: 1px solid rgba(0, 0, 0, 0.3);
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 18px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                text-align: center;
                color: #000000;
            }
        }

        .single_add_to_cart_button {
            padding: 7px 14px;
            background: #292A33;
            border: 1px solid #292A33;
            font-weight: 400;
            font-size: 14px;
            line-height: 1;
            letter-spacing: 0.1em;
            text-transform: capitalize;
            color: #FFFFFF;
            transition: background .3s, color .3s;

            &:hover {
                background: #fff;
                color: #292A33;
            }
        }

        .screen-reader-text {
            position: relative !important;
            width: fit-content;
            height: fit-content;
            clip-path: unset;
            clip: unset;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: 0.05em;
            color: #000000;
        }

        .product_meta {

            & > span {
                display: block;
                font-weight: 400;
                font-size: 18px;
                line-height: 1;
                letter-spacing: 0.05em;
                color: #000000;

                span,
                a {
                    font-weight: 300;
                    color: inherit;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .woocommerce-result-count {
        font-family: 'Josefin Sans';
        font-weight: 300;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
    }

    .orderby {
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 10px;
        font-family: 'Josefin Sans';
        font-weight: 300;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: capitalize;

        color: #000000;
    }

    .woocommerce-pagination {
        width: 100%;
        order: 6;

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            column-gap: 10px;

            li {

                span, a {
                    display: block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    color: #292A33;
                }

                .current {
                    background: #292A33;
                    color: #fff;
                }
            }
        }
    }

    .special {
        width: 100%;
        order: 7;
    }

    .sidebar {
        width: 260px;
        @media(max-width:992px) {
            display: none;
        }
    }
}

.yith-wcqv-wrapper {
    height: auto !important;
}

#yith-quick-view-modal.open .yith-wcqv-main {
    overflow-y: unset;

    .wp-post-image {
        height: auto;
        width: 100%;
    }

    .entry-summary {
        padding: 35px 40px;

        h1 {
            margin: 0 0 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
        }

        .price {
            margin: 0 0 23px;
            font-size: 22px;
            line-height: 1;
        }

        .in-stock {
            margin: 15px 0;
            padding: 15px 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 22px;
            line-height: 1;
            color: #000;
        }

        .cart {
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            input {
                width: 45px;
                height: 30px;
                border: 1px solid rgba(0, 0, 0, 0.3);
                font-family: "Josefin Sans";
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 18px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                text-align: center;
                color: #000000;
            }

            button {
                padding: 7px 14px;
                background: #292A33;
                border: 1px solid #292A33;
                font-weight: 400;
                font-size: 14px;
                line-height: 1;
                letter-spacing: 0.1em;
                text-transform: capitalize;
                color: #FFFFFF;
                transition: background 0.3s, color 0.3s;

                &:hover {
                    background: #fff;
                    color: #292A33;
                }
            }
        }

        .product_meta {
            & > span {
                display: block;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.woocommerce-shop {
    .type-product {
        justify-content: center;

        h2 {
            width: 100%;
        }
    }
}

.products {
    $cgap: 40px;
    $rgap: 50px;
    // @media(max-width:992px) {
    //     $cgap: 20px;
    // }

    &.columns-3 {
        display: flex;
        flex-wrap: wrap;
        gap: $rgap $cgap;

        .product {
            width: calc(33.333% - ((40px * 2) / 3));
            @media(max-width:992px) {
                width: 100%;
            }
        }
    }

    .woocommerce-options {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width:992px) {
            flex-direction: column;
            justify-content: flex-start;
        }

        .woocommerce-notices-wrapper {
            display: none;
        }
    }

    .product {
        position: relative;
        transition: box-shadow .5s;
        padding-bottom: 10px;
        text-align: center;

        &:hover {
            box-shadow: 0px 6px 34px rgba(0, 0, 0, 0.15);
        }

        a {
            display: block;
            width: 100%;

            &:nth-child(3) {
                order: 5;
                color: #292A33;
                text-decoration: underline;
                @media(max-width:992px) {
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }

        .onsale {
            display: block;
            padding: 5px;
            background: #fff;
            color: #f00;
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 5;
            opacity: 0;
            transition: opacity .3s;
        }

        &:hover .onsale {
            opacity: 1;
        }

        img {
            display: block;
            height: auto;
            width: 100%;
        }

        h2 {
            min-height: 44px;
            margin: 10px 0;
            padding: 0 5px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #000000;
        }

        .price {
            font-family: 'Josefin Sans';
            font-weight: 300;
            font-size: 22px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #000000;
        }

        .add_to_cart_button {
            position: absolute;
            top: 60.5%;
            right: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 30px;
            width: 30px;
            padding: 5px;
            font-size: 0;
            overflow-x: hidden;
            // background: #fff;
            white-space: nowrap;
            color: #292A33;
            transition: all .3s;
            @media(max-width:992px) {
                top: 69%;
                background: #292A33;
                padding-left: 14px;
                font-size: 14px;
                color: #fff;
                width: 165px;
            }

            &::after {
                content: '';
                display: block;
                height: 20px;
                width: 20px;
                background: url('/wp-content/themes/bruden/assets/img/cart.svg') center / contain no-repeat;
                @media(max-width:992px) {
                    filter: brightness(10);
                }
            }

            &:hover {
                background: #292A33;
                padding-left: 14px;
                font-size: 14px;
                color: #fff;
                width: 163px;
            }

            &:hover::after {
                filter: brightness(10);
            }
        }

        .yith-wcwl-add-to-wishlist,
        .yith-wcwl-wishlistaddedbrowse {
            top: 15px;
            left: unset;
            right: 15px;

            a {
                display: block;
                height: 30px;
                width: 30px;
                padding: 6px;
                // background: #fff;
            }

            .yith-wcwl-icon {
                font-size: 18px;
                color: #000;
            }
        }

        .yith-wcqv-button {
            display: block;
            height: 30px;
            width: 30px;
            // background: #fff;
            position: absolute;
            right: 15px;
            top: 60px;

            &::before {
                content: '';
                display: block;
                height: 100%;
                width: 100%;
                background: url('../img/eye.svg') center / 20px no-repeat;
            }
        }
    }
}

.woocommerce-page {

    table.wishlist_table {
        width: 100%;
    }

    .wishlist_table tr th {
        width: calc(100% / 6);
    }

    .wishlist_table tr td {
        font-family: 'Cormorant';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        color: #000000;
    }

    .wishlist_table tr td a {
        color: inherit;
    }

    .wishlist_table tr td.product-remove a {
        font-size: 32px;
        color: #000;
    }

    .wishlist_table tr td.product-thumbnail a {
        max-width: 100%;
    }

    .wishlist_table tr td.product-thumbnail a img {
        height: auto;
    }
}

.wishlist_table {

    .product-add-to-cart a.button {
        padding: 6px 10px !important;
        border: 1px solid #000000;
        color: #000000;
    }
        
    &.mobile {

        li {
            display: flex;
            align-items: center;

            .item-wrapper {
                width: 50%;

                .product-thumbnail {

                    img {
                        height: auto;
                        width: 100%;
                    }
                }

                .item-details {

                    h3, a {
                        color: #000000;
                    }

                    table.item-details-table td {
                        font-size: 16px;
                    }
                }
            }

            .additional-info-wrapper {
                width: 50%;
        
                table.additional-info {
                    margin-left: auto;

                    td {
                        font-size: 16px;
                    }
                }
            }

            .product-add-to-cart a.button {
                margin-right: 0 !important;
            }
        }
    }

}

.woocommerce-cart {

    .shop_table  {
        width: 100%;
        border: 1px solid #7F7F7F;
        @media(max-width:992px) {
            display: block;
        }

        tr {
            display: flex;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid #7F7F7F;
            @media(max-width:992px) {
                flex-wrap: wrap;
                padding: 15px;
            }
        }

        th,
        td {
            width: 11%;
            text-align: left;
            font-weight: 300;
            font-size: 22px;
            line-height: 1;
            text-align: left;
            letter-spacing: 0.05em;
            color: #000000;
            @media(max-width:992px) {
                font-size: 14px;
            }

            a {
                color: inherit;
            }
        }

        th {
            font-size: 18px !important;
        }

        thead {    
            @media(max-width:992px) {
                display: none;
            }
        }

        tbody {
            @media(max-width:992px) {
                display: block;
            }

            tr:last-child {
                border: none;
                padding: 10px 25px;
            }
        }

        .qty {
            width: 45px;
            height: 30px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            text-align: center;
        }

        .actions {
            width: 100%;
            display: flex;
            justify-content: space-between;
            @media(max-width:992px) {
                row-gap: 15px;
                flex-direction: column;
            }

            .button {
                height: 30px;
                padding: 8px 14px;
                border: none;
                border-radius: 0;
                background: #292A33;
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 1;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #FFFFFF;
                opacity: .5;
                transition: opacity .3s;

                &:hover {
                    opacity: .75;
                }
            }

            .coupon {
                display: flex;
                @media(max-width:992px) {
                    row-gap: 15px;
                    flex-direction: column;
                }

                label {
                    display: none;
                }

                input {
                    height: 30px;
                    padding: 5px 10px;
                    border: 1px solid #7F7F7F;
                }

                .button {
                    opacity: 1;

                    &:hover {
                        opacity: .75;
                    }
                }
            }
        }

        .product-remove {
            width: 10%;
            font-size: 40px;
            text-align: center;
            
            a {
                color: #000;
            }
        }

        .product-thumbnail {
            width: 10%;
            @media(max-width:992px) {
                width: 25%;
            }

            img {
                width: 60px;
                height: 60px;
            }
        }

        .product-name {
            width: 40%;
            font-size: 24px;
            line-height: 29px;
            @media(max-width:992px) {
                width: 65%;
                font-size: 16px;
                line-height: 1.3;
            }
        }

        .product-price,
        .product-subtotal {
            width: 12%;
            @media(max-width:992px) {
                width: 50%;
            }
        }

        .product-quantity {
            width: 15%;
            display: flex;
            align-items: center;
            column-gap: 10px;
            @media(max-width:992px) {
                width: 50%;
            }
        }
    }

    .cart-collaterals {
        width: 50%;
        margin-top: 60px;
        margin-left: auto;

        h2 {
            margin: 0;
            padding: 18px 25px;
            border: 1px solid #7F7F7F;
            border-bottom: none;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            text-transform: capitalize;
        }

        tr {
            padding: 18px 25px;

            th,
            td {
                width: 50%;
            }

            strong {
                font-weight: 300;
            }
        }

        .wc-proceed-to-checkout {
            padding: 18px 25px;
            border: 1px solid #7F7F7F;
            border-top: none;

            .checkout-button {
                display: block;
                padding: 14px 25px;
                background: #292A33;
                border: 1px solid #292A33;
                font-weight: 300;
                font-size: 18px;
                line-height: 1;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: #FFFFFF;
                transition: background .3s, color .3s;

                &:hover {
                    background: transparent;
                    color: #000000;
                }
            }
        }

        .below {
            display: none;
        }
    }
}

.checkout_coupon {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;

    p {
        margin: 0;
    }

    p:first-child {
        width: 100%;
        margin-top: 20px;
    }

    .form-row {
        width: calc(50% - 10px);
    }

    input {
        width: 100%;
            height: 40px;
            padding: 5px 10px;
            border: 1px solid #7F7F7F;
            color: #292A33;

            &::placeholder {
                color: #7F7F7F;
            }

            .select2-selection__arrow {
                height: 36px;
            }
    }
    
    .button {
        display: block;
        padding: 14px 25px;
        background: #292A33;
        border: 1px solid #292A33;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0.15em;
        text-transform: capitalize;
        color: #FFFFFF;
        transition: background .3s, color .3s;
        
        &:hover {
            background: transparent;
            color: #000000;
        }
    }
}

form.woocommerce-checkout {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    .col2-set,
    .woocommerce-checkout-review-order {
        width: calc(50% - 20px);
        @media(max-width:992px) {
            width: 100%;
            margin-top: 40px;
        }
        
        .col-2 {
            margin-top: 20px;
        }
    }

    .woocommerce-NoticeGroup {
        width: 100%;

        .woocommerce-error {
            li:not(:last-child) {
                margin-bottom: 15px;
            }

            strong {
                color: #e94b35;
            }
        }
    }

    .woocommerce-billing-fields__field-wrapper,
    .woocommerce-shipping-fields__field-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .form-row {
            width: 100%;
            margin-bottom: 0;

            &:nth-child(-n+4) {
                width: calc(50% - 10px);
                @media(max-width:992px) {
                    width: 100%;
                }
            }

            label {
                display: block;
                margin-bottom: 10px;
            }

            input,
            .select2-selection--single {
                width: 100%;
                height: 40px;
                padding: 5px 10px;
                border: 1px solid #7F7F7F;
                color: #292A33;

                &::placeholder {
                    color: #7F7F7F;
                }

                .select2-selection__arrow {
                    height: 36px;
                }
            }
        }
    }

    .shop_table {
        width: 100%;

        tr {
            display: flex;
            padding: 18px 0;
            border-top: 1px solid #7F7F7F;

            th,
            td {
                width: 50%;
                text-align: left;
                font-weight: 300;
            }
        }

        .cart-subtotal,
        .order-total {
            text-transform: uppercase;
        }
    }
    
    .button {
        display: block;
        padding: 14px 25px;
        background: #292A33;
        border: 1px solid #292A33;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0.15em;
        text-transform: capitalize;
        color: #FFFFFF;
        transition: background .3s, color .3s;
        
        &:hover {
            background: transparent;
            color: #000000;
        }
    }
}

.woocommerce-account {

    .woocommerce {
        display: flex;
        flex-wrap: wrap;

        h2 {
            width: 100%;
        }
    }

    .woocommerce-MyAccount-navigation {
        width: 200px;
        padding-right: 20px;
        border-right: 1px solid #7F7F7F;

        @media(max-width:992px) {
            width: 100px;
        }

        ul {
            li {
                margin-bottom: 20px;
                @media(max-width:992px) {
                    font-size: 12px;
                    margin-bottom: 10px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            a {
                color: #000000;
                text-transform: uppercase;
            }
        }
    }

    .woocommerce-MyAccount-content {
        width: calc(100% - 200px);
        padding-left: 20px;
        font-size: 16px;
        line-height: 1.4;
        @media(max-width:992px) {
            width: calc(100% - 100px);
            padding-left: 10px;
            font-size: 12px;
        }

        a {
            color: #000000;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .woocommerce-form-login {
        width: 100%;

        .woocommerce-form-row:not(:last-child) {
            margin-bottom: 20px;
        }

        .lost_password {
            margin-top: 10px;
        }

        a {
            color: #000000;
        }
    }

    .woocommerce-EditAccountForm,
    fieldset {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .clear {
            display: none;
        }
    }

    p.form-row {
        width: 100%;
        margin-bottom: 0;

        &:nth-child(-n+2) {
            width: calc(50% - 10px);
            @media(max-width:992px) {
                width: 100%;
            }
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        .woocommerce-form__label {
            margin-top: 10px;
        }

        input,
        .select2-selection--single {
            width: 100%;
            height: 40px;
            padding: 5px 10px;
            border: 1px solid #7F7F7F;
            color: #292A33;

            &::placeholder {
                color: #7F7F7F;
            }

            .select2-selection__arrow {
                height: 36px;
            }
        }

        input[type=checkbox] {
            width: 10px;
            height: 10px;
            padding: 0;
        }

        .woocommerce-LostPassword {
            margin-top: 10px;
        }
    }

    fieldset {
        padding: 10px;

        .form-row {
            &:nth-child(2),
            &:nth-child(3) {
                width: calc(50% - 10px);
                @media(max-width:992px) {
                    width: 100%;
                }
            }
        }
    }
    
    .button {
        display: block;
        padding: 14px 25px;
        background: #292A33;
        border: 1px solid #292A33;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0.15em;
        text-transform: capitalize;
        color: #FFFFFF;
        transition: background .3s, color .3s;
        
        &:hover {
            background: transparent;
            color: #000000;
        }
    }
}